<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WinRename.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <WinRename.Properties.Settings>
            <setting name="sel1nmInsertAt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel1rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel1txtInsert" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel2nmExtractFrom" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel2nmExtractLength" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel2rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel3cbPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel3cbBytes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel3rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel4txtReplFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="sel4txtReplTo" serializeAs="String">
                <value />
            </setting>
            <setting name="sel4rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel5rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel5cbFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel6rbActiv" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel6txtRegex" serializeAs="String">
                <value />
            </setting>
            <setting name="sel6txtReplFrom" serializeAs="String">
                <value />
            </setting>
            <setting name="sel7rbActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel7txtRepl" serializeAs="String">
                <value />
            </setting>
            <setting name="sel7txtReplWith" serializeAs="String">
                <value />
            </setting>
            <setting name="MainTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtMask" serializeAs="String">
                <value>*.*</value>
            </setting>
            <setting name="cbRootOnly" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SplitterDistance" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="Bounds" serializeAs="String">
                <value>0, 0, 800, 600</value>
            </setting>
            <setting name="SelectedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="sel8nmStartNum" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="sel8nmInc" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="sel8nmFormat" serializeAs="String">
                <value>00000000000000</value>
            </setting>
            <setting name="sel8rbActive" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sel8cbPosition" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="sel8cbDelTrailingNum" serializeAs="String">
                <value>False</value>
            </setting>
        </WinRename.Properties.Settings>
    </userSettings>
</configuration>
